<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit author</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Person edition -->
<form id="edit-form" th:action="@{/saveauthor}"   method="post"  action="listAuthors.html" th:object="${author}">
    <h1>Информация об авторе:</h1>

    <div class="row">
        <label for="author-id">ID:</label>
        <input id="author-id"  name="id" type="text" readonly="readonly" th:value="*{id}" value="1"/>
    </div>

    <div class="row">
        <label for="author-lastname">Фамилия:</label>
        <input id="author-lastname" name="lastname" type="text" th:value="*{getLastName()}" value="Christy"/>
    </div>


    <div class="row">
        <label for="author-firstname">Имя:</label>
        <input id="author-firstname" name="firstname" type="text" th:value="*{getFirstName()}" value="Agata"/>
    </div>


    <div class="row">
        <label for="author-secondname">Отчество:</label>
        <input id="author-secondname" name="secondname" type="text" th:value="*{getSecondName()}" value="Mary"/>
    </div>

    <div class="row">
        <label for="author-birthdate">Дата рождения:</label>
        <input id="author-birthdate" name="birthdate" type="date" th:value="*{getBirthDate()}" value="01.01.1960"/>
    </div>
    <div class="row">
        <button type="submit">Сохранить</button>
    </div>
</form>

</body>
</html>
