<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добавление/редактирование комментария</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }


    </style>
</head>
<body>

<!-- Person edition -->
<form id="editcomment-form" th:action="@{/savecomment}"  method="post" action="listComments.html" th:object="${comment}">
    <h1>Информация о комментарии:</h1>
    <input type="hidden" name="bookid" th:value="*{book.getId()}">
    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" readonly="readonly" th:value="*{id}" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Текст:</label>
        <input id="name-input" size="100" name="text" type="text" th:value="*{text}" value="Новый комментарий"/>
    </div>

        <button type="submit">Сохранить</button>
    </div>
</form>

</body>
</html>
