<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.krasilova.otus.spring.dao.QuestionDaoCsv">
    </bean>
    <bean id="userInterfaceService" class="ru.krasilova.otus.spring.service.UserInterfaceServiceImpl">
    </bean>

    <bean id="quizService" class="ru.krasilova.otus.spring.service.QuizServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="userInterfaceService" ref="userInterfaceService"/>
    </bean>

</beans>


